aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
click
colorama
el
elevenlabs
fastapi
ffmpeg
flet
flet-desktop
flet-web
frozenlist
gigachat
h11
httpcore
httptools
httpx
idna
jsonpatch
jsonpointer
langchain-core
langsmith
magic-filter
multidict
numpy
oauthlib
orjson
packaging
propcache
PyAudio
pycparser
pydantic
pydantic_core
pydub
python-dotenv
PyYAML
repath
requests
requests-toolbelt
six
sniffio
sounddevice
starlette
tenacity
types-requests
typing_extensions
urllib3
uvicorn
watchfiles
wavio
websockets
yarl
zstandard
